.Table {
  width: 100%;
  border-spacing: 0;
}
.Table thead tr + tr {
  display: none;
}
.Td,
.Th {
  margin: 0;
}
.Th {
  text-transform: uppercase;
  font-weight: bold;
  padding: 0.2rem 0.4rem;
  text-align: left;
}
.Input {
  padding: 0.4rem;
  outline: none;
  border: none;
  border-left: 2px solid transparent;
  flex: 1;
}
.Input:focus {
  padding: 0.4rem;
  outline: none;
  border-left-color: #659eba;
  background-color: #f9fbfc;
}
.Input::-webkit-calendar-picker-indicator {
  display: none;
}
.InputError {
  background-color: #fdf9f8;
  color: #d8798b;
}
.TooltipContainer {
  position: relative;
  display: flex;
  width: 100%;
}
.TooltipContainer .TooltipText {
  visibility: hidden;
  background-color: #fff;
  text-align: center;
  padding: 0.4rem 1rem;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  box-shadow: 1px 1px #888888;
  top: 100%;
}
.TooltipContainer:hover .TooltipText {
  visibility: visible;
}
.AutoComplete {
  display: flex;
}
.ContryContainer {
  width: 30px;
}
.PhoneContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.FlagsSelect > button {
  padding: 0;
  border: none;
  outline: none;
}
.FlagsSelect > ul > li {
  padding: 0 8px;
}
